/* Empty. Add your own CSS if you like */
.star>.item-content{
	background: #eee8d6;
}

.splash{
	background:url(../img/skyline.jpg)no-repeat
	center center fixed;
	background-size:cover;
	-webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
}

.branding{
	width:50%;
	margin:0 auto;
	max-width:200px;
	text-align:center;
}